*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 700px;
    height: 400px;
    background-color: blueviolet;
    margin: 20px auto;
}
.box1{
    width: 100px;
    height: 100px;
    background-color: aqua;
    animation: kalash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes kalash{
    from{

    }
    to{
        transform: translateX(1000px);
    }
}
.box2{
    width: 100px;
    height: 100px;
    background-color: crimson;
    border-radius: 50%;
    animation: bounce 2s 1s infinite ease-out;
    animation-direction: alternate-reverse;
    transition: all 3s ease-in-out;
}
@keyframes bounce{
    0%{ 
        transform: translateY(300px);
    }
    100%{

    }
}